{deps_dir, ["deps"]}.

{erl_opts, [debug_info]}.

{deps, [
        {edatetime, "",
           {git, "https://github.com/knutin/edatetime.git", {branch, "master"}}},
        {jiffy, "",
           {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
        {oauth, "",
           {git, "https://github.com/tgrk/erlang-oauth.git", {branch, "master"}}},

        {meck, "0.*",
           {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}},
        {eunit_formatters, ".*",
           {git, "https://github.com/seancribbs/eunit_formatters.git", "master"}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose,
              no_tty,
              {report, {eunit_progress, [colored]}}]}.

{xref_checks, [undefined_function_calls]}.