{deps_dir, ["deps"]}.

{erl_opts, [debug_info]}.

{deps, [
        {edatetime, "",
           {git, "https://github.com/knutin/edatetime.git", {branch, "master"}}},
        {jiffy, "",
           {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
        {oauth, "",
           {git, "https://github.com/tgrk/erlang-oauth.git", {branch, "master"}}},

        {reloader, "0.1",
           {git, "http://github.com/bjnortier/reloader.git", "master"}},

        {eunit_formatters, ".*",
           {git, "https://github.com/seancribbs/eunit_formatters.git", "master"}}
]}.
